<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Basic Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Basic Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>{{ discription }}</p>
    <ion-button ion-button (click)="onButtonClick()">Click here!</ion-button>
    <div id="map_canvas"></div>
  </div>
</ion-content>
